@import url('https://fonts.cdnfonts.com/css/napo');
/* tipografies */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&family=IBM+Plex+Mono:wght@100&family=Satisfy&display=swap');
:root {
    --primary:  #7e587e;
    --secondary:#c8a2c8;
    --success:  #ea39b8;
    --info:     #7f3aef;
    --warning:  #ff7f50;
    --danger:   #ff7f50;
    /* --text:     #e6e6fa; */
    --text:     #515159;
}
* {
    font-family: 'Napo', sans-serif;
    color: var(--text);
}
body {
    /* background-color: var(--secondary); */
    background-color: white;
}
button {
    padding: 10px;
    cursor: pointer;
}
/* Barra superior*/
header {
    height: 3em;
    border-bottom: 1px solid;
}
.menu {
    /* position: fixed; */
    display: flex;
    align-items: center;
    height: 3em;
}
.menu>a, .menu>h1 {
    display: inline-block;
}
h1 {
    margin: 0 0 0 10px;
    font-family: 'Anton', sans-serif;
}
h2 {
    margin: 10px 10px 10px 10px;;
    /* margin-left: 10px; */
    font-family: 'Satisfy', cursive;
}
p, pre {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}
.font-anton { font-family: 'Anton', sans-serif; font-weight: initial ;}
.font-satisfy { font-family: 'Satisfy', cursive; font-weight: initial ; }
.font-ibm { font-family: 'IBM Plex Mono', monospace; font-weight: bold; }
.apartat:not(.apartat:last-of-type) {
    display: block;
    border-bottom: 1px solid;
}
.paleta  {
    display: inline;
}
.paleta > div:nth-of-type(1) {--color: var(--primary)}
.paleta > div:nth-of-type(2) {--color: var(--secondary)}
.paleta > div:nth-of-type(3) {--color: var(--success)}
.paleta > div:nth-of-type(4) {--color: var(--info)}
.paleta > div:nth-of-type(5) {--color: var(--warning)}
.paleta > div:nth-of-type(6) {--color: var(--text)}
.paleta > div {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
    margin: 0 10px;
    background-color: var(--color);
}