<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Inicio
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item"><a href="/manual.html" class="nav-link" target="_blank"
                        >Manual Identitat</a></li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ejercicios
                        </a>
                        <ul class="dropdown-menu border-primary">
                            <!-- Dropdown Item Template
                                li>a.dropdown-item[href=#]{} -->
                            <!-- Dropdown Header Template
                                h6.dropdown-header{} -->
                            <!-- Dropdown Divider Template
                                li>hr.dropdown-divider -->
                            <h6 class="dropdown-header">Dropdown header</h6>
                            <li><a href="#m06_02_ft_02" class="dropdown-item">Interacció entre sistemes</a></li>
                            <li><hr class="dropdown-divider"></hr></li>
                            <h6 class="dropdown-header">Dropdown header</h6>
                            <li><a href="#m06_03_ft_01" class="dropdown-item">Objectes del Sistema</a></li>
                            <li><a href="#m06_03_ft_02" class="dropdown-item">Persistència de la Informació en local</a></li>
                            <!-- <li><a href="#prova" class="dropdown-item">Prova</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/WebComponents/index.html" target="_blank"
                        >Web Components</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pruevas.html">Pruevas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>