.resultado {
    width: 150px;
}
.resultado > pre {
    font-size: 17px;
}
.resultado > pre#primero::before {
    font-weight: bold;
    content: 'Primer plato:  ';
}
.resultado > pre#segundo::before {
    font-weight: bold;
    content: 'Segundo plato: ';
}
.resultado > pre#bebida::before  {
    font-weight: bold;
    content: 'Bebida:        ';
}
.resultado > pre#postre::before  {
    font-weight: bold;
    content: 'Postre:        ';
}
.resultado > pre#total::before   {
    font-weight: bold;
    content: 'Precio total:  ';
}
.resultado > pre:not(#total)::after {
    content: '\a Nombre: ' attr(producto) 
             '\a Precio: ' attr(precio) ' €';
}
.resultado > pre#total::after {
    content: '\a Precio: ' attr(precio) ' €'
}